.ll-list {
  padding: 20px;
}

.ll-item {
  margin-bottom: 20px;
  padding-left: 12px;
  border-left: 4px solid #ff9800;
}

.ll-item.highlight {
  background-color: #fff3e0;
  border-color: #ef6c00;
}
